
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #1D1F21
}

main{
  top:0;
  bottom: 0;
  margin-left: 5%;
  display: grid;
  grid-template-areas:
    'hi hi hi hi hi '
    'role role role portrait portrait '
    'info info info portrait portrait'
    'info info info portrait portrait'
    'links links links . .';
  grid-auto-columns: 1fr;
  color: #C5C8C6;
  /* background-color: brown */ 
}

.hi{
  /* background-color: rgba(44, 30, 30, 0.8); */
  grid-area: hi;
  font-size: 4em;
  margin-top: 10%;
  margin-bottom: 0%;
}
.role{
  /* background-color: rgba(44, 30, 40, 0.8); */
  grid-area: role;
  margin: 0%
}
.info{
  /* background-color: rgba(56, 54, 38, 0.8); */
  grid-area: info;
  margin: 0%;
  margin-right: 15%;
}

.text-secondary {
  color: #c24f7b; 
}

.portrait {
  grid-area: portrait;
  width: 250px;
  height: 290px;
  background: url("../img/original_redim_col_small.jpg");
  border: solid 1px #C5C8C6;
  box-shadow: 12px 12px #c24f7b;
}

p{
  margin: 3% 0%;
}

ul {
  font-size: 1em;
  font-weight: bold;
  grid-area: links;
  /* background-color: rgba(30, 31, 44, 0.8); */
  display: table;
  white-space: nowrap;
}

li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  position: relative;
}

a {
  text-decoration: none;
  color:inherit;
  position: relative;
  padding: 16px 7px;
  border-top: 2px solid rgba(255,255,255,0);
  border-bottom: 2px solid rgba(255,255,255,0);
  transition: padding .3s,border-color .3s;
}

a:focus, a:hover {
  padding: 5px 7px;
  border-color: #c24f7b;
  outline: none;
}

a::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  color: rgba(255,255,255,0);
  border-left: 2px solid rgba(255,255,255,0);
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
}

a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px;
  max-height: 0;
  color: rgba(255,255,255,0);
  border-right: 2px solid rgba(255,255,255,0);
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
}

a:focus::before, a:hover::before, a:focus::after, a:hover::after {
  max-height: 100%;
  transition-delay: .28s;
  border-color: #c24f7b;
}

.header {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  text-align: center;
  background: #282A2E;
  color: #C5C8C6;
}

@media only screen and (max-width:875px){
  main{
    position: absolute;
    bottom: 8%;
    grid-template-areas: 
    '. portrait .'
    'hi hi hi'
    'role role role'
    'info info info'
    'links links links';
  }
  .hi{
    font-size: 3em;
    margin-top:6%;
    margin-left: 5%;
    margin-right: 5%
  }
  .portrait{
    margin-top: 37%;
    width: 175px;
    height: 206px;
    background: url("../img/original_redim_col_smaller.jpg");
  }
  .role{
    font-size: 1.25em;
    margin-left: 5%;
    margin-right: 5%
  }
  .info{
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%
  }
  ul{
    bottom: 0;
    margin-left: 5%;
  }
}

@media only screen and (max-width:510px){
  .hi{
    font-size: 2.25em;
  }
  .role{
    font-size: 1.15em;
  }
  .info{
    font-size: 0.9em;
  }
  ul{
    font-size: 0.85em;
    margin-left: 0%;
  }
  .portrait{
    margin-left: -5%;
    margin-top: 50%;
  }
}
