
body{
	font-family: Arial, Helvetica, sans-serif;
}
ul {
	text-align: right;
}
li{
	display: inline;
	padding-right: 10px;
	font-size: large;
}
ul a {
	text-decoration: none;
	color: black;
}
ul a:hover {
	border-bottom: 2px solid currentColor;
}
#hello{
	font-size: 5vw;
	color: black;
	margin: 0 8vw;
	text-align: left;
	letter-spacing: -0.2vw;
	position: relative;
	top: 8vw;
}
#name{
	font-variant: small-caps;
}
#text{
	font-size: 4vw;
	letter-spacing: -0.1vw;
}