
body{
	background:whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
}
ul {
	text-align: right;
}
li{
	display: inline;
	padding-right: 10px;
	font-size: large;
}
ul a {
	text-decoration: none;
	color: black;
}
ul a:hover {
	border-bottom: 2px solid currentColor;
}
#hello{
	font-size: 7vw;
	color: black;
	margin: auto;
	text-align: center;
	letter-spacing: -5px;
	position: relative;
	top: 150px;
}
#name{
	font-variant: small-caps;
	letter-spacing: 0px;
}