/**
 * Style variables
 */
$base-color:           #c5c8c6 !default;
$primary-color:        #c24f7b !default;
$text-color:           $base-color !default;
$placeholder-color:    $base-color !default;
$link-color:           $base-color !default;
$border:               dashed 1px rgba(197, 200, 198, 0.9) !default;
$selection-background: rgba(197, 200, 198, 0.99) !default;
$selection-text:       #1D1F21 !default;
$background-color:     #1D1F21 !default;

.blog-header {
    z-index: 10;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    text-align: center;
    background: #282A2E;
    color: #C5C8C6;
    padding: 1em;
  }
@import "base";
